<div class="nav-header">
    <div class="brand-row">
        <a class="brand" href="">Waterworks</a>
        <button title="Navigation menu" class="menu-toggle" @onclick="ToggleNavMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav-list">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="login">Login</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="congtrinh">Cong trinh</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
